<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="GraphServices.GraphDataServices">
        <!-- This endpoint is exposed at the base address provided by host: http://localhost/GraphServices.GraphDataServices.svc -->
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="GraphServices.IGraphDataServices" />

        <!-- The mex endpoint is exposed at http://localhost/GraphServices.GraphDataServices.svc/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="GraphServices.IGraphDataServices" />
      </service>
      <service name="GraphServices.GraphApi">
        <!-- This endpoint is exposed at the base address provided by host: http://localhost/GraphServices.GraphApi.svc  -->
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="GraphServices.IGraphApi" />

        <!-- The mex endpoint is exposed at http://localhost/GraphServices.GraphApi.svc/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="GraphServices.IGraphApi" />
      </service>
    </services>
  </system.serviceModel>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding1" />
      </basicHttpBinding>
      <mexHttpBinding>
        <binding name="NewBinding0" />
      </mexHttpBinding>
    </bindings>
    <services>
      <service name="GraphServices.Services.GraphDataServices">
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="NewBinding0"
          name="mex" contract="GraphServices.Services.IGraphDataServices" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="NewBinding1"
          name="basic" contract="GraphServices.Services.IGraphDataServices" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          -->
  <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
  <!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          -->
  <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
  <!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>  
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
